delete
{# ----Hostname---- #}
set system host-name {{ router['router_model'] }}.{{ router['router_location'] }}
{# ----Root password---- #}
set system root-authentication encrypted-password "{{ root_encrypted_password }}"
{# ----Name servers---- #}
{% for name_server in name_servers %}
set system name-server {{ name_server }}
{% endfor %}
{# ----USERS---- #}
{# --Rocky user --#}
set system login user rocky uid 2001
set system login user rocky class super-user
set system login user rocky authentication ssh-rsa "{{ rocky_rsa}}"
{# --User robot-- #}
set system login user robot uid 2002
set system login user robot class super-user
set system login user robot authentication ssh-rsa "{{ robot_rsa }}"
{# -- Administrator user -- #}
set system login user administrator uid 2003
set system login user administrator class super-user
set system login user administrator authentication encrypted-password "{{ administrator_encryp_pass }}"
{# -- user api-server -- #}
set system login class api-server permissions shell
set system login class api-server permissions view
set system login class api-server allow-commands "(show .*)|(match .*)|(display .*)|(no-more)|(start .*)"
set system login class api-server deny-commands "(clear .*)|(file .*)|(help .*)|(load .*)|(monitor .*)|(op .*)|(request .*)|(save .*)|(set .*)|(api-server .*)"
set system login class api-server deny-configuration .*
set system login user api-server uid 2004
set system login user api-server class api-server
set system login user api-server authentication encrypted-password {{ api_user }}
{# -- remote user for radius server -- #}
set system login user remote full-name "default remote access template"
set system login user remote uid 2005
set system login user remote class super-user
{# ----System services---- #}
set system time-zone UTC
set system services ssh
set system services netconf ssh connection-limit 250 rate-limit 250
set system commit persist-groups-inheritance
set system configuration-database extend-size
{# ----Security----------- #}
set security policies global policy global-deny-all-policy match source-address any
set security policies global policy global-deny-all-policy match destination-address any
set security policies global policy global-deny-all-policy match application any
set security policies global policy global-deny-all-policy then deny
set security policies default-policy deny-all
set security forwarding-options family inet6 mode flow-based
set security log mode event
{# -------- Policy logs ------------#}
set system syslog file policy_session user info
set system syslog file policy_session firewall any
set system syslog file policy_session match RT_FLOW
set system syslog file policy_session archive size 5m
set system syslog file policy_session archive files 15
set system syslog file policy_session archive world-readable
set system syslog file policy_session structured-data
{# ----------------------------------------RoboSOC dynamic address and policies------------------------------------------- #}
set security dynamic-address traceoptions file robosoc_blocklist_trace size 1m files 2 world-readable
set security dynamic-address traceoptions level all flag all
set security dynamic-address feed-server CloudCIX hostname www.cloudcix.com
set security dynamic-address feed-server CloudCIX update-interval 172800
set security dynamic-address feed-server CloudCIX hold-interval 518400
{# Note: feed-name length range [1, 16] #}
set security dynamic-address feed-server CloudCIX feed-name IPBlocklistFeed path /srx_ipblocklist.txt.gz
{# update interval 1 hour, hold interval 24hrs(time to hold ips in case update fails) #}
set security dynamic-address feed-server CloudCIX feed-name IPBlocklistFeed update-interval 3600 hold-interval 86399
set security dynamic-address address-name RoboSOC.Blocklist_Address description www.cloudcix.com/srx_ipblocklist.txt.gz
set security dynamic-address address-name RoboSOC.Blocklist_Address profile feed-name IPBlocklistFeed
{# inbound common policy #}
set groups PUBLIC-VRF security policies from-zone PUBLIC to-zone <*> policy RoboSOC_Blocklist_In_Block match source-address RoboSOC.Blocklist_Address destination-address any application any
set groups PUBLIC-VRF security policies from-zone PUBLIC to-zone <*> policy RoboSOC_Blocklist_In_Block then deny
{# outbound common policy #}
set groups VRF-PUBLIC security policies from-zone <*> to-zone PUBLIC policy RoboSOC_Blocklist_Out_Block match source-address any destination-address RoboSOC.Blocklist_Address application any
set groups VRF-PUBLIC security policies from-zone <*> to-zone PUBLIC policy RoboSOC_Blocklist_Out_Block then deny
{# ==================PORT CONFIGURATION============================== #}
{% for port in ports %}
{# ----------------------------------------------------------PUBLIC---------------------------------------------------------- #}
{% if port['function'] == 'Floating' %}
set interfaces {{ port['name'] }} description public.interface
set interfaces {{ port['name'] }} unit 0 description PUBLIC
set security zones security-zone PUBLIC interfaces {{ port['name'] }}.0 host-inbound-traffic system-services ping
set security zones security-zone PUBLIC interfaces {{ port['name'] }}.0 host-inbound-traffic system-services traceroute
set security zones security-zone PUBLIC interfaces {{ port['name'] }}.0 host-inbound-traffic system-services ike
{# policy option for all ipv6 imports and exports #}
set policy-options policy-statement Leaked.From.Public term IPv6.Connected from protocol direct
set policy-options policy-statement Leaked.From.Public term IPv6.Connected then accept
set policy-options policy-statement Leaked.From.Public term IPv6.Default from route-filter ::/0 exact
set policy-options policy-statement Leaked.From.Public term IPv6.Default then accept
set policy-options policy-statement Leaked.From.Public term deny-all then reject
{# Main route table entries (so no separate routing instance) #}
{# Routing options #}
set routing-options rib-groups Public.To.Vr export-rib inet6.0
set routing-options rib-groups Public.To.Vr import-rib inet6.0
set routing-options rib-groups Public.To.Vr import-policy Leaked.From.Public
set routing-options interface-routes rib-group inet6 Public.To.Vr
set routing-options rib inet6.0 static rib-group Public.To.Vr
{% for port_config in port['port_configs'] %}
set interfaces {{ port['name'] }} unit 0 family {{ port_config['type'] }} address {{ port_config['ip'] }}/{{ port_config['mask'] }}
{% if port_config['type'] == 'inet' %}
set routing-options static route 0.0.0.0/0 next-hop {{ port_config['gateway'] }}
{% elif port_config['type'] == 'inet6' %}
set routing-options rib inet6.0 static route ::/0 next-hop {{ port_config['gateway'] }}
{% endif %}
{% endfor %}
{# Rule Set for all inbound nats #}
set security nat static rule-set all-inbound-static-nat from zone PUBLIC
{% endif %}
{# -----------------------------------------------------------PRIVATE------------------------------------------------------- #}
{% if port['function'] == 'Private' %}
set interfaces {{ port['name'] }} description southbound.interface
set interfaces {{ port['name'] }} vlan-tagging
{% endif %}
{# -----------------------------------------------------Management------------------------------------------------------- #}
{% if port['function'] == 'Management' %}
set groups mgmt security zones security-zone mgmt interfaces {{ port['name'] }}.0 host-inbound-traffic system-services any-service
set groups mgmt interfaces {{ port['name'] }} description mgmt.interface
set groups mgmt interfaces {{ port['name'] }} unit 0 description management
{% for port_config in port['port_configs'] %}
set groups mgmt interfaces {{ port['name'] }} unit 0 family {{ port_config['type'] }} address {{ port_config['ip'] }}/{{ port_config['mask'] }}
{% if port_config['type'] == 'inet' %}
set groups mgmt routing-instances MGMT routing-options static route 0.0.0.0/0 next-table inet.0
{% elif port_config['type'] == 'inet6' %}
set groups mgmt routing-instances MGMT routing-options rib MGMT.{{ port_config['type'] }}.0 static route ::/0 next-hop {{ port_config['gateway'] }}
{% endif %}
{% endfor %}
{# Routing options #}
set groups mgmt routing-options rib-groups Public.To.Vr import-rib MGMT.inet6.0
set groups mgmt routing-options rib-groups Mgmt.To.Public export-rib MGMT.inet6.0
set groups mgmt routing-options rib-groups Mgmt.To.Public import-rib MGMT.inet6.0
set groups mgmt routing-options rib-groups Mgmt.To.Public import-rib inet6.0
set groups mgmt routing-instances MGMT instance-type virtual-router
set groups mgmt routing-instances MGMT interface {{ port['name'] }}.0
set groups mgmt routing-instances MGMT routing-options interface-routes rib-group inet6 Mgmt.To.Public
{# security policies #}
{# common pingv6 allow rule #}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-pingv6 match source-address any destination-address any application junos-pingv6
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-pingv6 then permit
{% for address in mgmt_access_addresses %}
{# -- inbound -- #}
{% if address['source_address'] != 'any' %}
set groups mgmt security address-book global address mgmt-{{ address['source_address_name'] }} description {{ address['description'] }}
set groups mgmt security address-book global address mgmt-{{ address['source_address_name'] }} {{ address['source_address'] }}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} match source-address mgmt-{{ address['source_address_name'] }}
{% else %}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} match source-address any
{% endif %}
{% if address['destination_address'] != 'any' %}
set groups mgmt security address-book global address mgmt-{{ address['destination_address_name'] }} {{ address['destination_address'] }}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} match destination-address mgmt-{{ address['destination_address_name'] }}
{% else %}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} match destination-address any
{% endif %}
{% if address['port'] != 'any' and address['protocol'] != 'any' %}
set applications application cloudcix-{{ address['protocol'] }}-{{ address['port'] }} protocol {{ address['protocol'] }} destination-port {{ address['port'] }}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} match application cloudcix-{{ address['protocol'] }}-{{ address['port'] }}
{% else %}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} match application any
{% endif %}
set groups mgmt-sp-inbound security policies from-zone PUBLIC to-zone mgmt policy mgmt-inbound-{{ loop.index0 }} then permit
{% endfor %}
set groups mgmt security policies from-zone PUBLIC to-zone mgmt apply-groups PUBLIC-VRF
set groups mgmt security policies from-zone PUBLIC to-zone mgmt apply-groups mgmt-sp-inbound
{# --outbound #}
set groups mgmt security policies from-zone mgmt to-zone PUBLIC apply-groups VRF-PUBLIC
set groups mgmt security policies from-zone mgmt to-zone PUBLIC policy mgmt-outbound-permit-all match source-address any destination-address any application any
set groups mgmt security policies from-zone mgmt to-zone PUBLIC policy mgmt-outbound-permit-all then permit
{# --intrazone-- #}
set groups mgmt security policies from-zone mgmt to-zone mgmt policy mgmt-intrazone-permit match source-address any destination-address any application any
set groups mgmt security policies from-zone mgmt to-zone mgmt policy mgmt-intrazone-permit then permit
set apply-groups mgmt
{% endif %}
{#-------------------------------------------------------OOB----------------------------------------------------------------------- #}
{% if port['function'] == 'OOB' %}
set groups oob system services web-management https system-generated-certificate
set groups oob system services web-management https interface {{ port['name'] }}.0
{% if router['router_model'] == 'SRX300' %}
set groups oob security zones security-zone OOB interfaces {{ port['name'] }}.0 host-inbound-traffic system-services https
set groups oob security zones security-zone OOB interfaces {{ port['name'] }}.0 host-inbound-traffic system-services ping
set groups oob security zones security-zone OOB interfaces {{ port['name'] }}.0 host-inbound-traffic system-services ssh
set groups oob security zones security-zone OOB interfaces {{ port['name'] }}.0 host-inbound-traffic system-services traceroute
{% endif %}
{% for port_config in port['port_configs'] %}
set groups oob interfaces {{ port['name'] }}.0 family inet address {{ port_config['ip'] }}/{{ port_config['mask'] }}
set groups oob routing-options static route 10.0.0.0/8 next-hop {{ port_config['gateway'] }}
{#  Radius Server #}
set system authentication-order radius
set system authentication-order password
set system radius-server {{ radius_server_address }} port 1812
set system radius-server {{ radius_server_address }} accounting-port 1813
set system radius-server {{ radius_server_address }} secret {{ radius_server_secret }}
set system radius-server {{ radius_server_address }} source-address {{ port_config['ip'] }}
{% endfor %}
set apply-groups oob
{% endif %}
{% endfor %}
{# --------- snmp-------#}
set snmp location {{ location }}
set snmp contact "noc@cix.ie"
set snmp community {{ name }} authorization read-only
